@page
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz";
}
<div class="text-left">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Number"></label>
        <input asp-for="FizzBuzz.Number" class="form-control input" style="width: 25%; margin-top: 10px;"/><br />
        <button class="btn btn-primary" type="submit">Zatwierdź</button>
    </form>
    <span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>
    @if(Model.FizzBuzz.Number != null && (Model.FizzBuzz.Number >= 1 && Model.FizzBuzz.Number <= 2000))
    {
        @if (Model.FizzBuzz.Number % 3 == 0 && Model.FizzBuzz.Number % 5 != 0)
        {
            <div class="alert alert-primary" role="alert" style="margin-top: 10px;">
                Fizz
            </div>
        }
        else if (Model.FizzBuzz.Number % 5 == 0 && Model.FizzBuzz.Number % 3 != 0)
        {
            <div class="alert alert-primary" role="alert" style="margin-top: 10px;">
                Buzz
            </div>
        }
        else if(Model.FizzBuzz.Number % 5 == 0 && Model.FizzBuzz.Number % 3 == 0)
        {
            <div class="alert alert-success" role="alert" style="margin-top: 10px;">
                FizzBuzz
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert" style="margin-top: 10px;">
                Liczba @Model.FizzBuzz.Number nie spełnia kryteriów FizzBuzz
            </div>
        }
    }
</div>


