@page
@model SavedInSessionModel
@{
    ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>
@if (Model.FizzBuzz != null)
{
    <p>
        @Model.Name, @Model.Year, @Model.Information
    </p>
}

